@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Iceland&family=Poiret+One&family=Poppins:ital,wght@0,400;0,800;0,900;1,400;1,800;1,900&family=Raleway:ital,wght@0,400;0,800;0,900;1,400;1,800&family=Sulphur+Point:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}

/* LOGO */
.logo{
    background-color: #fff;
    z-index: 1;
}
.logo img{
    height: 60px;
    /* margin: auto; */
    margin-left: 150px;
    margin-top: 20px;
}



/* Flexboxes */
.align-box-1{
  display: flex;
  flex-direction: row;
  align-items: center;

}

/* General Heading & Para & Box*/
.general-h1{
  font-size: 4rem;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  width: 30vw;
  padding: 40px;
  line-height: 1.3;
}
.general-p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  width: 40vw;
  padding: 40px;
  margin-left: 30px;
}
.general-section{
  color: #fff;
  min-height: 80vh;
  background-color: #01272c;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.general-icon-img{
  height:100px;
  border-radius: 20px;
  background: #01272c;
  box-shadow:  10px 10px 20px #001012,
               -10px -10px 20px #023e46;
  padding: 10px;
  margin-left: 50px;
  margin-right: 10px;
  transition: height 0.4s;
}
.general-section:hover .general-icon-img{
  height: 130px;
  border-radius: 20px;
  background: #01272c;
  box-shadow:  13px 13px 26px #001012,
               -13px -13px 26px #023e46;
}

/* White sections */
.white-sec .general-icon-img{
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  10px 10px 20px #b5b5b5,
               -10px -10px 20px #ffffff;
}
.white-sec:hover .general-icon-img{
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  16px 16px 32px #b5b5b5,
               -16px -16px 32px #ffffff;
}


/* Login Button */
.btn {
  width: 210px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: 'Iceland', cursive;
  font-weight: bolder;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
  margin-top: 30px;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
  cursor: pointer;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
  margin: auto;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

.icon-img{
  color: #fff;
}


/* Hero-Section */
.hero-section{
  background-color: #fff;
  padding: 25px 150px 20px 150px;
  margin: 0;
  margin-top: 0;
}
.hero-1{
  padding: auto;
  flex-direction: column;
}
.hero-section img{
  height: 500px;
}
.hero-h1{
  color: silver;
  font-family: 'Sulphur Point', sans-serif;
  letter-spacing: 10px;
}
.hero-h2{
  font-size: 4.5rem;
  font-weight: bolder;
  font-family: 'Iceland', cursive;
  line-height: 0.9;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-1 p{
  width: 60%;
  font-family: 'Poppins', sans-serif;
}
.hero-2{
  display: flex;
  justify-content: right;
}

/* Our Need */


/* The Art of Covert Mastery */
.art-covert{
  background-color: #fff;
  color: #000;
}

/* Solutions */
.our-solutions {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.our-solutions .general-h1{
  width: 100%;
}
.our-solutions .general-icon-img{
  margin: auto;
}
.title{
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}
.container{
    width: 900px;
    padding: 40px 50px  40px  40px;
    background: #fff;
    border-radius: 20px;
    background: #01272c;
    box-shadow:  29px 29px 60px #001012,
                 -29px -29px 60px #023e46;
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content .list{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 50px;
    position: relative;
  }
  .content .list label{
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #333;
    z-index: 12;
    font-family: 'Rubik', sans-serif;
  }
  #home:checked ~ .list label.home,
  #blog:checked ~ .list label.blog,
  #help:checked ~ .list label.help,
  #code:checked ~ .list label.code,
  #about:checked ~ .list label.about{
    color: #000;
  }
  .content .list label:hover{
    color: #fff;
  }
  .content .slider{
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    background: #fff;
    transition: all 0.4s ease;
  }
  #home:checked ~ .list .slider{
    top: 0;
  }
  #blog:checked ~ .list .slider{
    top: 60px;
  }
  #help:checked ~ .list .slider{
    top: 120px;
  }
  #code:checked ~ .list .slider{
    top: 180px;
  }
  #about:checked ~ .list .slider{
    top: 240px;
  }
  .content .text-content{
    width: 80%;
    height: 100%;
  }
  .content .text{
    display: none;
  }
  .content .text .title{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #fff;
    text-align: left;
  }
  .content .text p{
    text-align: justify;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  .content .text-content .home{
    display: block;
  }
  #home:checked ~ .text-content .home,
  #blog:checked ~ .text-content .blog,
  #help:checked ~ .text-content .help,
  #code:checked ~ .text-content .code,
  #about:checked ~ .text-content .about{
    display: block;
  }
  #blog:checked ~ .text-content .home,
  #help:checked ~ .text-content .home,
  #code:checked ~ .text-content .home,
  #about:checked ~ .text-content .home{
    display: none;
  }
  .content input{
    display: none;
  }

/* Socials */
.socials-sec{
  padding: 50px;
  text-align: center;
}
.socials-sec .icons{
  margin: auto;
}
.icons a{
  background: #ecf0f3;
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: -3px -3px 7px #ffffff,
              3px 3px 5px #ceced1;
}
.icons a:hover:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}
.icons a i{
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  line-height: 60px;
}
.icons a:hover i{
  transform: scale(0.9);
}
.icons a.fb i{
  color: #4267B2;
}
.icons a.twitter i{
  color: #1DA1F2;
}
.icons a.insta i{
  color: #E1306C;
}
.icons a.git i{
  color: #333;
}
.icons a.yt i{
  color: #ff0000;
}