@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Iceland&family=Poiret+One&family=Poppins:ital,wght@0,400;0,800;0,900;1,400;1,800;1,900&family=Raleway:ital,wght@0,400;0,800;0,900;1,400;1,800&family=Sulphur+Point:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.dark-section{
    background-color: #01272c;
    text-align: center;
}
.dark-btn{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 250px;
    height: 250px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-radius: 50%;
    background: #01272c;
    box-shadow:  23px 23px 46px #011e22,
                 -23px -23px 46px #013036;
    color: #fff;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 30px;
}