@media(max-width:1230px) {
    body {
        font-size: 16px;
        background-image: url('../Images/image-hero-tablet.webp'),  var(--backgroundBody);
        background-size: 640px, ;
        background-position: 50vw -5em, 0 0;
    }
    
    main {
        width: 689px;
    }

    .header {
        width: 689px;
    }

    .sectiontitle {
        margin-top: 171px;
    }

    .sectiontitle-txt h1 {
        font-size: 40px;
        width: 326px;
    }

    .sectiontitle-txt p {
        width: 398px;
    }

    .cards {
        grid-template-columns: 330px 330px;
        grid-template-rows: 300px 300px 300px;
    }

    .info, .animation, .design, .photography, .crypto, .business {
        width: 339px;
        height: 259px;
    }

    .info p {
        margin-top: 2.7em;
        font-size: 24px;
    }

    .animation img, .design img, .photography img, .crypto img, .business img {
        position: absolute;
        margin-top: -4.2em;
    }

    .footertxt {
        width: 689px;
    }
}

@media(max-width:768px) {
    body {
        font-size: 16px;
        background-image: var(--backgroundBody);
        background-size: 640px, ;
        background-position: 0 0, 0 0;
    }

    main {
        width: 343px;
    }

    .header {
        width: 343px;
        margin-top: 20px;
    }

    .header a {
        width: 140px;
        height: 48px;
    }

    .header img {
        width: 89px;
    }

    .sectiontitle {
        margin-top: 50px;
    }

    .sectiontitle-txt h1 {
        width: 343px;
    }

    .sectiontitle-txt p {
        width: 343px;
    }

    .sectiontitle-txt img {
        display: block;
        width: 327px;
        margin: auto;
        margin-top: 1.5em;
    }
    
    .cards {
        grid-template-columns: none;
        grid-template-rows: none;
        gap: 2.5em;
        margin-top: 0;
    }

    .info {
        height: 120px;
    }

    .info p {
        margin-top: 1em;
    }

    .footertxt {
        width: 343px;
    }

    .footertxt a {
        width: 140px;
        height: 48px;
    }

    .footertxt img {
        width: 89px;
    }
}