.stealth-btn {
 border: none;
 width: 100px;
 height: 50px;
 color: #fff;
 z-index: 1;
 display: flex;
 background: #000;
 position: relative;
 position: fixed;
 bottom: 0;
 right: 0;
 z-index: 20;
 margin-bottom: 10px;
 margin-right: 10px;
 text-decoration: none;
}

.stealth-btn p {
 margin: 0 auto;
 align-self: center;
 font-size: 17px;
 font-weight: bold;
 text-align: center;
}

.stealth-btn::after {
 position: absolute;
 content: "";
 width: 100%;
 z-index: -1;
 height: 10%;
 bottom: 0;
 clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
 background: #8792eb;
 transition: 0.2s ease;
}

.stealth-btn::before {
 position: absolute;
 content: "";
/*   bottom: 80%; */
 transform: rotate(180deg);
 width: 100%;
 height: 10%;
 transition: 0.2s ease;
/*   bottom:; */
 z-index: -1;
 clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
 background: #8792eb;
}

.stealth-btn:hover::after {
 clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
 height: 80%;
}

.stealth-btn:hover::before {
 clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
 height: 80%;
}



/* Dashboard Button */
.db-btn {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  cursor: pointer;
  border: 3px solid rgb(255, 239, 94);
  background-color: rgb(255, 239, 94);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
  position: fixed;
  top:0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  z-index: 20;
}

.texts {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  color: white;
  border-radius: 5px;
}

.db-btn:hover .arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.db-btn:active {
  transform: scale(0.97);
}